@import "../../common/ColorScheme";

.menu-placer {
  transform: scale(1.5);
  position: fixed;
  left: 96%;
  top: 83.5vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .menu {
    width: 30px;
  }

  .menu {
    &.hamburger {
      width: 30px;
      height: 4px;
      margin-bottom: 5px;
      background-color: $color-black;
    }
  }
}
