.imageMoveTo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: inherit;

  width: 100vw;

  position: absolute;
  top: 35%;

  div {
    font-size: 5rem;
    background-color: rgba(177, 177, 177, 0.7);
    color: #fff;
    
    padding: 5px 15px;
    border-radius: 25px;

    &:nth-child(1) {
      margin-left: 5%;
    }

    &:nth-child(2) {
      margin-right: 5%;
    }
  }
}
