.imageCarousel {
  position: relative;  
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  
  &-imagePlacer {
    display: flex;
    // flex-direction: row;
    height: 100%;

    & .imageCarousel--image {
      width: auto;
      min-width: 100vw;
      // height:
    }
  }

  &-indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100vw;
  }
}
