@import "../../../common/Animation";
@import "../../../common/FadeInOut";

.imageCarousel {
  position: relative;
  overflow-x: hidden;

  &-imagePlacer {
    display: flex;
    flex-direction: row;
    z-index: 0;

    width: 70%;
    margin: 0 auto;

    margin-top: 2%;

    & .imageCarousel--image {
      width: 100%;
      min-width: 100%;
      height: 100%;
      border-radius: 15px;
      z-index: inherit;

      // animation: {
      //   name: anim-open;
      //   duration: 0.2s;
      //   delay: 0.1s;
      //   iteration-count: 1;
      //   direction: normal;
      //   timing-function: ease-in;
      //   fill-mode: both;
      // }

      @include animation("fade-in .2s linear .1s 1 both");

      &.hidden {
        visibility: hidden;

        @include animation("fade-out .2s linear .1s 1 both");

        // animation: {
        //   name: anim-close;
        //   duration: 0.2s;
        //   delay: 0.1s;
        //   iteration-count: 1;
        //   direction: normal;
        //   timing-function: ease-in-out;
        //   fill-mode: both;
        // }
      }
    }
  }

  &-indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    z-index: 1000;
  }
}
