@import "../../common/ColorScheme";
@import "../button/Button";

@mixin nav-common {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 15vh;

  @content;
}

.nav {
  position: relative;
  display: flex;
  width: 100vw;
  height: 15vh;
  background-color: $color-nav;
  border: 1px dashed #eee;

  &-landing {
    @include nav-common {
      position: absolute;
    }
    justify-content: flex-end;
  }

  &-signIn {
    @include nav-common {
      position: absolute;
    }
    height: 30vh;
    justify-content: space-around;
  }

  &-afterLogin {
    @include nav-common;
    justify-content: flex-end;
  }
}
