@import "../../../common/ColorScheme";
@import "../../../common/Animation";
@import "../../../common/FadeInOut";

.menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50px;

  margin-bottom: 15px;

  border-radius: 15px;
  background-color: #eee;
  // opacity: 0;
  visibility: hidden;

  & i {
    padding: 3px;
    margin: 10px 0;
    color: $color-primary;
  }

  &.open {
    // animation: 0.5s ease-in 0.1s 1 normal anim-open;
    @include animation("fade-in .5s ease-in-out .1s 1 both");
  }

  &.closed {
    // animation: 0.5s ease-out 0.1s 1 normal anim-close;
    @include animation("fade-out .5s ease-in-out .1s 1 both");
  }
}
