@import "../../../common/ColorScheme";

.menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50px;

  border-radius: 15px;
  background-color: #eee;
  opacity: 0;

  & i {
    padding: 3px;
    margin: 10px 0;
    color: $color-primary;
  }

  &.open {
    // animation: 0.5s ease-in 0.1s 1 normal both anim-open;
    animation: {
      name: anim-open;
      duration: 0.5s;
      delay: 0.1s;
      iteration-count: 1;
      direction: normal;
      timing-function: ease-in;
      fill-mode: both;
    }
  }

  &.closed {
    // animation: 0.5s ease-out 0.1s 1 normal both anim-close;
    animation: {
      name: anim-close;
      duration: 0.5s;
      delay: 0.1s;
      iteration-count: 1;
      direction: normal;
      timing-function: ease-in-out;
      fill-mode: both;
    }
  }
}

@keyframes anim-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes anim-close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
