@mixin make-separator() {
  background-color: #000;
  @content;
}

.separator {
  &-vertical {
    @include make-separator() {
      width: 35px;
      height: 2px;
    }
  }

  &-horizontal {
    @include make-separator() {
      width: 2px;
      height: 35px;
    }
  }
}
