@import "../../../../common/BoxShadow";
@import "../../../../common/ColorScheme";

.searchBar {
  position: relative;

  width: 750px;
  height: 400px;

  border: 2px dashed #000;
  border-radius: 15px;

  // @include make-box-shadow(1, 1, 1);

  i {
    position: absolute;
    left: 15px;
    top: 5%;
  }

  &--selectedKeywords-placeholder {
    position: absolute;
    left: 5%;
    top: 63%;
  }

  &--input {
    position: absolute;
    left: 55px;
    top: 2%;

    width: 550px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  &--invalid-keyword-indicator {
    position: absolute;
    left: 83%;
    top: 2%;

    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: red;

    visibility: hidden;
    &.active {
      visibility: visible;
    }
  }

  &--suggestions {
    position: absolute;
    left: 5%;
    top: 15%;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;

    width: 77%;
    height: 43%;
    overflow-y: hidden;

    list-style-type: none;

    li {
      background-color: $color-warning;
      color: #fff;

      border: 1px solid #000;
      border-radius: 15px;
      padding: 5px 15px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }

  &--selected {
    position: absolute;
    left: 5%;
    top: 72%;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 77%;
    height: 28%;
    overflow-y: hidden;

    list-style-type: none;

    &-keywords {
      background-color: $color-selected;
    }

    &-platforms {
      background-color: $color-warning;
    }

    li {
      color: #fff;

      border: 1px solid #000;
      border-radius: 15px;
      padding: 5px 15px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }

  &--separator {
    position: absolute;
    left: 2%;
    top: 57%;

    width: 95%;
    height: 1px;

    margin: 5px 5px;
    border-bottom: 1px dashed #000;
  }
}
