@import "../../../../common/ColorScheme";

.keywordSelector {
  display: flex;
  flex-direction: row;
  border: 2px dashed #000;
  border-radius: 25px;

  padding: 15px 25px;
  margin-bottom: 5%;

  box-sizing: border-box;

  & &-left {
    width: 25%;
    padding-right: 3%;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
      font-size: 1.5rem;
    }
  }

  & &-right {
    width: 85%;
    padding-left: 3%;
    border-left: 1px dashed #000;

    ul {
      display: inline-flex;
      flex-wrap: wrap;

      .platforms {
        &.active {
          background-color: $color-warning;
        }
      }

      .keywords {
        &.active {
          background-color: $color-selected;
        }
      }

      li {
        list-style-type: none;
        overflow: hidden;

        display: inline-block;

        background-color: $color-not-selected;
        color: #fff;

        border: 1px solid #000;
        border-radius: 15px;
        padding: 5px 15px;
        margin-right: 5px;
        margin-bottom: 5px;

        p {
          font-size: 1.2rem;
        }

        &.active {
          background-color: $color-selected;
        }
      }
    }
  }
}
