@import "../../common/ColorScheme";
@import "../button/Button";

@mixin nav-common {
  width: 100vw;
  height: 5vh;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: $color-nav;
  border: 1px dashed #eee;

  @content;
}

.nav {
  &-landing {
    @include nav-common;
    justify-content: flex-end;

    & .btn {
      margin-right: 5%;
    }
  }

  &-signIn {
    @include nav-common;    
    justify-content: space-around;
  }

  &-afterLogin {
    @include nav-common;
    justify-content: flex-end;
  }
}
