.lecturePopup {
  position: fixed;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;

  width: 80%;
  height: 80%;

  background-color: #fff;

  z-index: 200;

  .lecturePopup--lecture {
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 2% 5%;
    height: 100%;
  }
}
