@import "../../../../../common/BoxShadow";
@import "../../../../../common/ColorScheme";

.searchBar {
  position: relative;

  width: 750px;
  height: 350px;

  border: 2px dashed #000;
  border-radius: 15px;

  // @include make-box-shadow(1, 1, 1);

  i {
    position: absolute;
    left: 15px;
    top: 5%;
  }

  p {
    position: absolute;
    left: 5%;
    top: 60%;
  }

  .searchBar--input {
    position: absolute;
    left: 55px;
    top: 2%;

    width: 550px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  .searchBar--btn {
    position: absolute;
    left: 83%;
    top: 30%;
  }

  .searchBar--suggestions {
    position: absolute;
    left: 5%;
    top: 15%;

    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    li {
      background-color: $color-primary;
      color: rgb(0, 0, 0);

      border: 1px solid #000;
      border-radius: 15px;
      padding: 5px 15px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }

  .searchBar--selected {
    position: absolute;
    left: 5%;
    top: 70%;

    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    li {
      background-color: $color-primary;
      color: rgb(0, 0, 0);

      border: 1px solid #000;
      border-radius: 15px;
      padding: 5px 15px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }

  .searchBar--separator {
    position: absolute;
    left: 2%;
    top: 50%;

    width: 95%;
    height: 1px;

    margin: 10px 5px;
    border-bottom: 1px dashed #000;
  }

  .searchBar--clearBtn {
    position: absolute;
    left: 83%;
    top: 75%;
  }
}
