@import "../../../../common/ColorScheme";

.imagesIndicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 35%;
  background-color: rgba(177, 177, 177, 0.7);
  padding: 5px 15px;
  border-radius: 15px;

  position: relative;
  margin: 0 auto;
  top: 75%;

  div {
    background-color: #ddd;
    width: 15px;
    height: 15px;
    border-radius: 50%;

    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    transition: all 0.5s ease-in-out;

    .highlight {
      background-color: $color-selected;
      width: 20px;
      height: 20px;
    }
  }
}
