.gridView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 80%;
  justify-content: space-around;
  // align-items: center;

  height: 100%;

  padding: 15px 15px;
  margin-top: 5%;

  border: 2px dashed #000;

  list-style-type: none;
}
