.gridView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // width: 805;

  justify-content: space-around;

  padding: 15px 25px;
  margin-top: 5%;

  border: 2px dashed #000;

  list-style-type: none;
}
