@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

// init
body {
  margin: 0;
  padding: 0;
}

.root {
  margin: 0;
  padding: 0;
  font: {
    family: "Noto", sans-serif;
  }
  width: 100vw;
  height: 100vh;

  overflow: auto;
}
