@import "../../common/ColorScheme";

@mixin footer-dev-card-common {
  //
}

.footer {
  // position: relative;
  display: flex;

  width: 100vw;
  height: 15vh;
  background-color: $color-footer;
  border: 1px dashed var(--color-border-default);
  color: var(--color-text-white);

  &-dev-cards {
    width: 100%;
    display: inherit;
    flex-direction: row;
    justify-content: space-around;

    & .footer-dev-card {
      margin: 10px;
      display: inherit;
      flex-direction: row;
      border: 2px dashed var(--color-border-darker);
      border-radius: 15px;
    }

    & .left {
      display: inherit;
      flex-direction: column;
      justify-content: space-around;
      flex-grow: 0.8;
      padding: 10px;

      border-right: 2px dashed #d3d3d3;

      & i {
        // padding-top: 15px;
        text-align: center;
        color: var(--color-text-white);
      }

      & h2 {
        margin: 0;
      }
    }

    & .right {
      display: inherit;
      flex-direction: column;
      flex-grow: 0.6;

      justify-content: space-around;
      padding: 10px;

      & p {
        font-size: 1.5rem;
        margin: 0;
      }

      & p:nth-child(2) {
        font-size: 1.1rem;
      }
    }
  }
}
