@import "../../../../common/ColorScheme";

.comment--text-area {
  resize: none;
  
  width: 100%;
  background-color: #fff;
  color: var(--color-text-black);
  border: 1px solid var(--color-border-default);  
}
