.lectureCard--title {  
  margin: 15px 0;

  font-size: 1.3rem;
  word-wrap: break-word;
}

.lecturePopup--title {
  height: 20%;
  margin: 5% 0;

  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  word-wrap: break-word;
}
