@import "../../../common/Animation";
@import "../../../common/FadeInOut";

.carousel {
  position: relative;
  overflow-x: hidden;

  &--imagePlacer {
    display: flex;
    flex-direction: row;

    width: 70%;
    margin: 0 auto;

    margin-top: 2%;

    & .carousel--image {
      width: 100%;
      min-width: 100%;
      height: 100%;
      border-radius: 15px;

      @include animation("fade-in .2s linear .1s 1 both");

      &.hidden {
        visibility: hidden;
        @include animation("fade-out .01s linear .1s 1 both");
      }
    }
  }

  &--indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    // z-index: 1000;
  }
}
