@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import "./common/ColorScheme";

:root {
  --color-border-default: #{$color-border-default};
  --color-border-darker: #{$color-border-darker};
  --color-text-white: #{$color-text-white};
  --color-text-black: #{$color-text-black};
}

* {
  margin: 0;
  padding: 0;
  font: {
    family: "Noto", sans-serif;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

// init
body p h1 h2 h3 div span {
  margin: 0;
  padding: 0;
}

#backdrop-root {
  display: block;
  overflow: hidden;
}

#popup-root {
  display: flex;
}

// .root {
//
// }
