// general
$color-box-shadow: #706e6e;
$color-black: #000;

// scheme colors
$color-primary: #9436d8;
$color-alt: #336b51;
$color-warning: #ffa640;
$color-danger: #ff3232;

// nav
$color-nav: rgba(151, 224, 217, 0.7);
$color-nav-weak: rgba(197, 238, 234, 0.7);
$color-footer: #535353;

// keyword
$color-selected: #5900ff;
$color-not-selected: #1a0049;

// border
$color-border-default: #000;
$color-border-darker: #444;

// text
$color-text-white: #fff;
$color-text-black: #000;
