// general
$color-box-shadow: #d3d3d3;
$color-black: #000;

// scheme colors
$color-primary: #c77aff;
$color-alt: #4a7444;
$color-warning: #ffcb8f;
$color-danger: #fd9494;

// nav
$color-nav: #caffb9;

// keyword
$color-selected: #5900ff;
$color-not-selected: #bbb;

