// general
$color-box-shadow: #706e6e;
$color-black: #000;

// scheme colors
$color-primary: #9436d8;
$color-alt: #336b51;
$color-warning: #ffa640;
$color-danger: #ff3232;

// nav
$color-nav: #97e0d9;
$color-footer: #535353;

// keyword
$color-selected: #5900ff;
$color-not-selected: #bbb;
