$random-radius: 50;
$random-origin-x: 50vw;
$random-origin-y: 50vh;

@function getRandomWithinRadius($direction: "x" or "y", $i) {
  $res: 0;
  $r: $random-radius;
  // $r = $r * 2;
  $x: $random-origin-x;
  $y: $random-origin-y;   

  @if ($direction == "x") {
    $randNum: $x + (random($r) - $r);
    $res: max(0, min($r, $randNum));
  } @else {
    $randNum: $y + (random($r) - $r);
    $res: max(0, min($r, $randNum));
  }
  @return #{$res};          
}
