// TODO: Change scss var to css var
$random-radius: 50;
$random-origin-x: 50;
$random-origin-y: 50;

@function getRandomWithinRadius($direction: "x" or "y") {
  $r: $random-radius;
  $x: $random-origin-x;
  $y: $random-origin-y;

  @if ($direction == "x") {
    @return $x + (random($r * 2) - $r) * 1%;
  } @else {
    @return $y + (random($r * 2) - $r) * 1%;
  }
}
