@import "./Animation";

@include keyframes(fade-in) {
  0% {
    opacity: 0;
    // visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
    background-color: #eee;
  }
}

@include keyframes(fade-out) {
  0% {
    opacity: 1;
    background-color: #eee;
  }

  100% {
    opacity: 0;
    // background-color: #fff;
    visibility: hidden;
  }
}
