@import "./Common";

.icon {
  max-width: 50px;
  max-height: 50px;
}

.placed-randomly {
  opacity: 0.08;
}

@for $i from 0 through 120 {
  .placed-randomly:nth-child(#{$i}) {
    display: inline-block;
    position: absolute;
    left: getRandomWithinRadius("x");
    top: getRandomWithinRadius("y");
  }
}
