@import "./Common";

.icon {
}
@for $i from 0 through 40 {
  .placed-randomly:nth-child(#{$i}) {    
    display: inline-block;
    position: absolute;
    left: getRandomWithinRadius("x", $i);
    top: getRandomWithinRadius("y", $i);
  }
}

